<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/logout?_method=DELETE" method="POST"
  <button type="submit">Log Out</button>
</form>





<!--if user put everything for user in-->

<!--//if not login you have to register -->>

<button id="saveLocation">Save location</button>

<a href="/favoritesPlaces">List of your favorites places </a>

