<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!--if user put everything for user in-->



<!--//if not login you have to register -->>

<a href="/favoritesPlaces">List of your favorites places </a>