<h1>List of your favorite place</h1>
{{#each places}}
<a href="/favoritesPlaces/{{this._id}}"><h1>{{name}}</h1></a>
<form action="/favoritesPlaces/{{ this._id }}/delete" method="POST">
<button type="submit">Delete</button>
</form> 
{{/each}}


<button id="saveLocation">Save location</button>