{{!-- <h2>Hello</h2>

<p>name of your favorite place</p>

<form action="/addPlace" method="POST"\>
  <label for="name">Name</label> 
  <input id="name" type="text" name="name">

  



 <button type="submit">Save</button>
</form> --}}

{{!-- <button id="saveLocation">Save location</button> --}}

{{!-- 
<script>  
    map.on('load', function() {
    geocoder.on('result', function(e) {
    map.getSource('single-point').setData(e.result.geometry);
    console.log('Hello, that is the string');
  });
    })
 
</script> --}}





